# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
myenv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# VS Code
.vscode/

# macOS and system files
.DS_Store

# Environment variables
.env

# Package distribution
*.egg-info/
dist/
build/
